@model LaymanFinance.Models.Inflow

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inflow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOccurred)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOccurred)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEntered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
