@model TransactionViewModel
@{
    ViewData["Title"] = "Inflows";
}

<div class="container-fluid">
    <h6 class="display-4">Inflows</h6>

    <form>
        <fieldset>
            <legend>Filter by:</legend>
            @foreach (string category in Model.Categories)
            {
                <div class="form-check form-check-inline">
                    <input type="checkbox" value="@category" name="category" class="form-check-input" />@category
                </div>
            }
        </fieldset>

        <input type="submit" />
    </form>

    <table class="table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>
                    <h4>Date</h4>
                </th>
                <th>
                    <h4><a asp-route-sort="amount">Amount</a></h4>
                </th>
                <th>
                    <h4><a asp-route-sort="source">Source</a></h4>
                </th>
                <th>
                    <h4>Memo</h4>
                </th>
                <th>
                    <h4>Category</h4>
                </th>
                <th>
                    <h4>Modify</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inflow in Model.Transactions)
            {
                <tr>
                    <td>
                        @inflow.DateOccurred.ToShortDateString()
                    </td>
                    <td>
                        @inflow.Amount.ToString("c")
                    </td>
                    <td>
                        @inflow.Source
                    </td>
                    <td>
                        @inflow.Memo
                    </td>
                    <td>
                        @inflow.Category.Name
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@inflow.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@inflow">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>