@model TransactionViewModel
@{
    ViewData["Title"] = "Outlays";
}

<div class="container-fluid">
    <h2 class="display-4-my-edit">Outlays</h2>

    <form>
        <fieldset>
            <legend>Filter by:</legend>
            @foreach (string category in Model.Categories)
            {
                <div class="form-check form-check-inline">
                    <input type="checkbox" value="@category" name="category" class="form-check-input" />@category
                </div>
            }
        </fieldset>

        <input type="submit" class="btn btn-my-edit" />
    </form>
    <hr />

    <table class="table table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>
                    <h4>Date</h4>
                </th>
                <th>
                    <h4><a asp-route-sort="amount">Amount</a></h4>
                </th>
                <th>
                    <h4><a asp-route-sort="source">Source</a></h4>
                </th>
                <th>
                    <h4>Memo</h4>
                </th>
                <th>
                    <h4>Category</h4>
                </th>
                <th>
                    <h4>Modify</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var outlay in Model.Transactions)
            {
                <tr>
                    <td>
                        @outlay.DateOccurred.ToShortDateString()
                    </td>
                    <td>
                        @outlay.Amount.ToString("c")
                    </td>
                    <td>
                        @outlay.Source
                    </td>
                    <td>
                        @outlay.Memo
                    </td>
                    <td>
                        @outlay.Category.Name
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@outlay.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@outlay">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>