@model IEnumerable<LaymanFinance.Models.Outlay>
@{
    ViewData["Title"] = "Outlay";
}

<h1>Gaze at your outlays.</h1>
<div class="row">
    <div class="col-2">
        <h4>Date</h4>
    </div>
    <div class="col-2">
        <h4>Amount</h4>
    </div>
    <div class="col-2">
        <h4>Payee</h4>
    </div>
    <div class="col-4">
        <h4>Memo</h4>
    </div>
    <div class="col-2">
        <h4>Category</h4>
    </div>
</div>

@foreach (var outlay in Model)
{
    <div class="row">
        <div class="col-2">
            <p>@outlay.DateOccurred</p>
        </div>
        <div class="col-2">
            <p>@outlay.Amount.ToString("c")</p>
            @*
                This is done when the model property is nullable.
                <p>@(Model.Amount.HasValue ? @Model.Amount.Value.ToString("c") : "No Value")</p>
            *@
        </div>
        <div class="col-2">
            <p>@outlay.Payee</p>
        </div>
        <div class="col-4">
            <p>@outlay.Memo</p>
        </div>
        <div class="col-2">
            <p>@outlay.Category.Name</p>
        </div>
    </div>
}