@model TransactionViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div>
            <!--

            -->
            @for (int i = 0; i > -12; i--)
            {
                <a asp-route-month="@DateTime.Now.AddMonths(i).Month" asp-route-year="@DateTime.Now.AddMonths(i).Year">@DateTime.Now.AddMonths(i).ToString("MMM-yy")</a>
            }
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-2">
                <h4>Date</h4>
            </div>
            <div class="col-2">
                <h4><a asp-route-sort="amount">Amount</a></h4>
            </div>
            <div class="col-2">
                <h4><a asp-route-sort="source">Source</a></h4>
            </div>
            <div class="col-2">
                <h4>Memo</h4>
            </div>
            <div class="col-2">
                <h4>Category</h4>
            </div>
        </div>
        @foreach (var transaction in Model.Transactions)
        {
            <div class="row">
                <div class="col-2">
                    <p>@transaction.DateOccurred.ToShortDateString()</p>
                </div>
                <div class="col-2">
                    <p>@transaction.Amount.ToString("c")</p>
                    @*
                        This is done when the model property is nullable.
                        <p>@(Model.Amount.HasValue ? @Model.Amount.Value.ToString("c") : "No Value")</p>
                    *@
                </div>
                <div class="col-2">
                    <p>@transaction.Source</p>
                </div>
                <div class="col-2">
                    <p>@transaction.Memo</p>
                </div>
                <div class="col-2">
                    <p>@transaction.Category.Name</p>
                </div>
                <div class="col-2">
                    <a asp-action="Edit" asp-route-id="@transaction.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@transaction">Delete</a>
                </div>
            </div>
        }
    </div>
    <div class="row chart-container">
        <div class="col-6"><canvas id="barChart" width="400" height="400"></canvas></div>
        <div class="col-6"><canvas id="otherBarChart" width="400" height="400"></canvas></div>
    </div>

</div>



@section Scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script type="text/javascript">

    var outlayAllocation = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Transactions.GroupBy(x => x.Category.Name).Select(x => new { Category = x.Key, Amount = x.Sum(y => y.Amount) })))
    //outlayAllocation[0].
    var outlayAllocationCount = outlayAllocation.length;
    var ctx = document.getElementById("barChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: outlayAllocation.map((x) => x.Category),
            datasets: [{
                label: '# of Votes',
                data: outlayAllocation.map((x) => x.Amount),
                backgroundColor: outlayAllocation.map((item, index) => {
                        var hue = 360 * ((index) / outlayAllocationCount);
                        return 'hsla(' + hue + ', 70%, 70%, 0.4)'
                    })
                ,
                borderColor: outlayAllocation.map((item, index) => {
                        var hue = 360 * ((index) / outlayAllocationCount);
                        return 'hsla(' + hue + ', 50%, 50%, 0.4)'
                    })
                ,
                borderWidth: 5
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var ctx2 = document.getElementById("otherBarChart");
    var myOtherChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 5
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


</script>
}
