@model CategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <h2>Your Categories</h2>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <h4>Your Inflow Categories</h4>
</div>

@foreach (var inflowCategory in Model.Inflows)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@inflowCategory.Name</h5>
            <p class="card-text">@inflowCategory.BudgetedAmount</p>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@inflowCategory.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@inflowCategory.Id">Delete</a>
        </div>
    </div>
}

<div class="row">
    <h4>Your Outlay Categories</h4>
</div>

@foreach (var outlayCategory in Model.Outlays)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@outlayCategory.Name</h5>
            <p class="card-text">@outlayCategory.BudgetedAmount</p>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@outlayCategory.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@outlayCategory.Id">Delete</a>
        </div>
    </div>
}

